:root{
   
    --text-color: #fff;
    --main-color: #ffae00;


}
.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
    text-aling: center;
}
.logo span{
    text-aling: center;
    color: var(--main-color);
    
}
